:{$PORT} {
	@old query shop=myshop.com
	@new not @old
	reverse_proxy @new {$UPSTREAM:"https://google.com"} {
		header_up Host {upstream_hostport}
	}
	reverse_proxy @old {$UPSTREAM:"https://pon-app-new-7mnim.ondigitalocean.app"} {
		header_up Host {upstream_hostport}
	}
}
